[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]

[packages]
argparse = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
mlxtend = "*"
nltk = "*"
textstat = "*"

[requires]
python_version = "3.5"
